mixin img({ src, alt })
    img(src=src alt=alt || '')

mixin svg(id)
    svg
        use(xlink:href=`#${id}`)

//- mixin item(content,id)
//-     .todo__item
//-         input(id=`checkbox-#${id}`).todo__input(type='checkbox')
//-         label.todo__label(for=`checkbox-#${id}`)
//-           span.todo__span = content